#EditboxExcelData {
    resize: none;
    font-size: 20px;
    width: 500px;
    height: 300px;
}

#EditboxJsonData {
    resize: none;
    font-size: 20px;
    width: 500px;
    height: 300px;
}

#EditBoxKeyName {
    font-size: 20px;
    width: 100px;
    height: 30px;
}

#ChecBoxIsRemoveKey {
    width: 30px;
    height: 30px;
}

.btn1 {
    width: 100px;
    height: 30px;
}